<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bysj.pss.mapper.MedicineSaleMapper" >
  <resultMap id="BaseResultMap" type="com.bysj.pss.model.pojo.MedicineSale" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="enterpirs_id" property="enterpirsId" jdbcType="INTEGER" />
    <result column="medicine_produce_fk" property="medicineProduceFk" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="sale_male" property="saleMale" jdbcType="VARCHAR" />
    <result column="sale_male_fk" property="saleMaleFk" jdbcType="INTEGER" />
    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
    <result column="delivery_address" property="deliveryAddress" jdbcType="VARCHAR" />
    <result column="ransport_type" property="ransportType" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="delivery_date" property="deliveryDate" jdbcType="TIMESTAMP" />
    <result column="success_date" property="successDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, enterpirs_id, medicine_produce_fk, num, sale_male, sale_male_fk, contract_code, 
    delivery_address, ransport_type, status, delivery_date, success_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from medicine_sale
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllSale" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from medicine_sale
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from medicine_sale
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bysj.pss.model.pojo.MedicineSale" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into medicine_sale (enterpirs_id, medicine_produce_fk, num, 
      sale_male, sale_male_fk, contract_code, 
      delivery_address, ransport_type, status, 
      delivery_date, success_date)
    values (#{enterpirsId,jdbcType=INTEGER}, #{medicineProduceFk,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{saleMale,jdbcType=VARCHAR}, #{saleMaleFk,jdbcType=INTEGER}, #{contractCode,jdbcType=VARCHAR}, 
      #{deliveryAddress,jdbcType=VARCHAR}, #{ransportType,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{deliveryDate,jdbcType=TIMESTAMP}, #{successDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bysj.pss.model.pojo.MedicineSale" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into medicine_sale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="enterpirsId != null" >
        enterpirs_id,
      </if>
      <if test="medicineProduceFk != null" >
        medicine_produce_fk,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="saleMale != null" >
        sale_male,
      </if>
      <if test="saleMaleFk != null" >
        sale_male_fk,
      </if>
      <if test="contractCode != null" >
        contract_code,
      </if>
      <if test="deliveryAddress != null" >
        delivery_address,
      </if>
      <if test="ransportType != null" >
        ransport_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="deliveryDate != null" >
        delivery_date,
      </if>
      <if test="successDate != null" >
        success_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="enterpirsId != null" >
        #{enterpirsId,jdbcType=INTEGER},
      </if>
      <if test="medicineProduceFk != null" >
        #{medicineProduceFk,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="saleMale != null" >
        #{saleMale,jdbcType=VARCHAR},
      </if>
      <if test="saleMaleFk != null" >
        #{saleMaleFk,jdbcType=INTEGER},
      </if>
      <if test="contractCode != null" >
        #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null" >
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="ransportType != null" >
        #{ransportType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="deliveryDate != null" >
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="successDate != null" >
        #{successDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bysj.pss.model.pojo.MedicineSale" >
    update medicine_sale
    <set >
      <if test="enterpirsId != null" >
        enterpirs_id = #{enterpirsId,jdbcType=INTEGER},
      </if>
      <if test="medicineProduceFk != null" >
        medicine_produce_fk = #{medicineProduceFk,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="saleMale != null" >
        sale_male = #{saleMale,jdbcType=VARCHAR},
      </if>
      <if test="saleMaleFk != null" >
        sale_male_fk = #{saleMaleFk,jdbcType=INTEGER},
      </if>
      <if test="contractCode != null" >
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null" >
        delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="ransportType != null" >
        ransport_type = #{ransportType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="deliveryDate != null" >
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="successDate != null" >
        success_date = #{successDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bysj.pss.model.pojo.MedicineSale" >
    update medicine_sale
    set enterpirs_id = #{enterpirsId,jdbcType=INTEGER},
      medicine_produce_fk = #{medicineProduceFk,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      sale_male = #{saleMale,jdbcType=VARCHAR},
      sale_male_fk = #{saleMaleFk,jdbcType=INTEGER},
      contract_code = #{contractCode,jdbcType=VARCHAR},
      delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      ransport_type = #{ransportType,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      success_date = #{successDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateStatus" >
    update medicine_sale
    set
    status = #{status,jdbcType=TINYINT},
    success_date = #{successDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>